#title {
	-fx-font: bold 20pt "Arial";	
}

#subtitle{
	-fx-font: bold 16pt "Arial";	
}

#light{
	-fx-font: 8pt "Arial";
}

#vbox-element{
	-fx-background-radius: 5.0;
	-fx-padding: 10;
	-fx-spacing: 15;
}

#hbox-control{
	-fx-background-radius: 5.0; 
    -fx-padding: 10;
    -fx-spacing: 15;
	
}

#hbox-element{
	-fx-background-radius: 5.0; 
    -fx-padding: 0;
    -fx-spacing: 15;
	
}

#field-title-element{
	-fx-font-size: 14pt;
    -fx-font-family: "Arial";
}