
.inactivecell{
	-fx-fill: #000000;
	-fx-opacity: 0.0;
}

.inactivecell:hover{
	-fx-fill: #ffff00;
	-fx-opacity: 0.3;
}

.highlightcell{
	-fx-fill: #ff7000;
	-fx-opacity: 0.5;
	
}
/*-fx-stroke: crimson;
	-fx-stroke-width: 2;	  */

.highlightcell:hover{
	-fx-fill: #ffff00;
}

.activecell{
	-fx-fill: #00ff00;
	-fx-opacity: 0.5;
	
}

/*-fx-stroke: limegreen;
	
	-fx-stroke-width: 5;
	-fx-stroke-style: inset;  */