.menufont{
	-fx-font-family: PixelGameFont;
	-fx-font-size: 72px;
}

.menufont2{
	-fx-font-family: Switch;
	-fx-font-size: 300px;
}

.title{
	-fx-font: bold 200pt "Arial";	
}

.root{
	-fx-background-radius: 5.0;
	-fx-padding: 0;
	-fx-spacing: 15;
	-fx-background: #9FA18D;
}

.sidevbox{
	-fx-font: bold 20pt "Palatino Linotype";
	-fx-background-color: #BFB79F;
	-fx-spacing: 10;
	-fx-padding: 5;
}
.vbox-chat{
	-fx-font: 12pt "Palatino Linotype";
	-fx-background-color: #BFB79F;
}
.listview-chat{
	-fx-font: 12pt "Palatino Linotype";
	-fx-background-color: #EEEEEE;
}
.textarea-chat{
	-fx-font: 12pt "Palatino Linotype";
	-fx-background-color: #BFB79F;
}
.left-image-flowpane{
	-fx-alignment: center;
	-fx-hgap: 2;
	-fx-vgap: 2;
}

.mainmap{
	-fx-stroke-width: 4;
	-fx-stroke: #e7e7e7;
}


.menubar{
	-fx-background-color: linear-gradient(to bottom, #9FA18D, #0F403F);
}
.dropdown{
	-fx-font: bold 14pt "Palatino Linotype";
}

.map-stackpane{
	-fx-border-color: #8F1010;
	-fx-border-width: 5;
	-fx-padding: 0;
}


.inactivecell{
	-fx-fill: #000000;
	-fx-opacity: 0.0;
}

.inactivecell:hover{
	-fx-fill: #ffff00;
	-fx-opacity: 0.3;
}

.highlightcell{
	-fx-fill: #ff7000;
	-fx-opacity: 0.5;
	
}
/*-fx-stroke: crimson;
	-fx-stroke-width: 2;	  */

.highlightcell:hover{
	-fx-fill: #ffff00;
}

.activecell{
	-fx-fill: #00ff00;
	-fx-opacity: 0.5;
	
}

/*-fx-stroke: limegreen;
	
	-fx-stroke-width: 5;
	-fx-stroke-style: inset;  */
	
.bottomhbox{
	-fx-font: bold 20pt "Palatino Linotype";
	-fx-background-color: #BFB79F;
	-fx-spacing: 10;
	-fx-padding: 5;
}
